.container {
  max-width: 1335px;
  margin: 0 auto;

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .review-container {
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden;
      flex-basis: 100%;
      position: relative;
      padding: 0.5rem;

      .review-wrap {
        padding: 1rem;
        width: 100%;
        box-shadow: 1px 3px 1rem 0 rgb(0 0 0 / 20%);
        overflow-wrap: break-word;
      }

      .review-date {
        font-size: 14px;
        color: #979797;
      }

      .review-author-name {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .review-text {
        margin: 0;
        padding-top: 10px;
        font-size: 14px;
        line-height: 19px;
        max-height: 400px;
        overflow: auto;
      }
    }

    @media (min-width: 1073px) {
      .review-container {
        flex-basis: 33.33%;
      }
    }
    @media (min-width: 815px) {
      .review-container {
        flex-basis: 50%;
      }
    }
  }
}
