@use "../../styles/mixins";

.pd-container {
  @include mixins.mq("md") {
    > h1,
    div {
      text-align: left;
      align-items: start;
    }
  }
}

.description-container {
  font-size: 14px;
  > li {
    margin-left: 0.5rem;
    margin-bottom: 0.4rem;
    list-style-type: square;
  }
}
