@use "../../styles/mixins";

.drawer {
  height: 0px;
  overflow: hidden;

  @include mixins.prefix(
    (
      transition: height ease 0.5s,
    )
  );

  .drawer-content {
    padding: 0.5rem;
    border-radius: 5px;
  }
}
